<div class="diafilm-player-container">
    <img class="diafilm-player-display" src={{imgsrc}}></img>
    <div class="diafilm-player-button-container">
        <button class="diafilm-player-button-prev">Prev</button>
        <button class="diafilm-player-button-next">Next</button>
        <audio controls class="diafilm-player-audio-controls">
            <source class="diafilm-player-audio-source" src="/diafilms/1.wav" type="audio/wav">
        </audio>
    </div>
</div>